{% extends "ui/base.html" %}

{% block content %}

    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <p class="lead">
                    Lorem ipsum dolor sit amet, consectetuer
                </p>

                <address class="segment clearfix">
                    <i class="fa fa-fire fa-2x text-error"></i>

                    <p>
                        <strong>Schönborn</strong><br/>
                        Fichtestr. 16<br/>
                        16548 Glienicke/Nordbahn<br/>
                        033056/81493
                    </p>
                </address>

                <div class="segment clearfix">
                    <i class="fa fa-compass fa-2x pull-left"></i>

                    <p>
                        <strong>Wind</strong><br/>
                        Stärke 3<br/>
                        Richgung Osten
                    </p>
                </div>

            </div>

            <div class="col-md-7">
                <div id="map"></div>

                <ul class="list-inline">
                    <li class="text-error"><i class="fa fa-truck fa-2x"></i> ELW 2/11-1</li>
                    <li class="text-error"><i class="fa fa-truck fa-2x"></i> ELW 2/11-2</li>
                    <li class="muted"><i class="fa fa-truck fa-2x"></i> DL 2/11-1</li>
                </ul>
            </div>
        </div>
    </div>

{% endblock %}