{% extends "ui/base.html" %}

{% block content %}

    <div class="row">
        <div class="span6">
            <p class="lead">
                Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean
                Donec pede justo, fringilla vel, aliquet nec, vulputate
            </p>

            <div class="row">
                <div class="span3">
                    <address class="segment clearfix">
                        <i class="icon-fire icon-3x text-error"></i>

                        <p>
                            <strong>Schönborn</strong><br/>
                            Fichtestr. 16<br/>
                            16548 Glienicke/Nordbahn<br/>
                            033056/81493
                        </p>
                    </address>
                </div>
                <div class="span3">
                    <div class="segment segment-error clearfix">
                        <i class="icon-sun icon-3x pull-left"></i>
                        <p>
                            <strong>Temperatur</strong><br/>
                            28.5 °C
                        </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="span3">
                    <div class="segment clearfix">
                        <i class="icon-compass icon-3x pull-left"></i>
                        <p>
                            <strong>Wind</strong><br/>
                            Stärke 3<br/>
                            Richgung Osten
                        </p>
                    </div>
                </div>
                <div class="span3">
                    <div class="segment clearfix">
                        <i class="icon-cloud icon-3x pull-left"></i>
                        <p>
                            <strong>Wolken</strong><br/>
                            12%
                        </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="span3">
                    <div class="segment segment-success clearfix">
                        <i class="icon-umbrella icon-3x pull-left"></i>
                        <p>
                            <strong>Regenwahrscheinlichkeit</strong><br/>
                            95%
                        </p>
                    </div>
                </div>
                <div class="span3">
                    <div class="segment segment-warning clearfix">
                        <i class="icon-tint icon-3x pull-left"></i>
                        <p>
                            <strong>Luftfeuchtigkeit</strong><br/>
                            0%
                        </p>
                    </div>
                </div>
            </div>

        </div>

        <div class="span6">
            <ul class="inline">
                <li class="text-error"><i class="icon-truck icon-2x"></i> ELW 2/11-1</li>
                <li class="text-error"><i class="icon-truck icon-2x"></i> ELW 2/11-2</li>
                <li class="muted"><i class="icon-truck icon-2x"></i> DL 2/11-1</li>
            </ul>

            <div id="map"></div>
        </div>
    </div>

{% endblock %}